section.about-wrapper
    .container
        .row
            .col-lg-6
                .title
                    h2 Giới thiệu American Door
                    p Cửa gỗ cho ngôi nhà ước mơ của bạn
                .content
                    p Công ty Cổ Phần Pacific Wood là công ty chuyên sản xuất và xuất khẩu, cung cấp cửa gỗ, ván sàn, nội thất gỗ trong nhà và ngoài trời. Công ty được thành lập năm 2006 với thương hiệu American Doors – Cửa gỗ cho ngôi nhà mơ ước.
                    p American Doors chuyên cung ứng, xuất khẩu cho thị trường Việt Nam và hơn 16 quốc gia trên thế giới: Mỹ, Úc, Đức, Pháp, Tây Ban Nha, Brazil, Hy Lạp, Nhật Bản, Singapore, Hồng Kông, Campuchia, Bỉ, Luxembourg, Ailen, Israel và Ấn Độ.
                    p Không gian sản xuất của chúng tôi bao gồm tổng diện tích hơn 12.000 mét vuông với năng lực sản xuất hơn 4.000 sản phẩm mỗi tháng và chúng tôi có hơn 500 nhân viên cống hiến cho các sản phẩm với chất lượng tốt nhất.
                .box-button
                    a(href="#")
                        button.left Hồ sơ năng lực
                            em.lnr.lnr-download
                    a(href="#")
                        button.right xem thêm
                            em.lnr.lnr-chevron-right
            .col-lg-6
                .list
                    - for(i=1;i<4;i++)
                        .item
                            a(href="#")
                                .img
                                    img(src="./img/home-about.png", alt="")
                                    .icon
                                        img(src="./img/about-icon.png", alt="")
                                        p tầm nhìn & sứ mệnh
section.list-product
    .product-wrapper
        .wrapper-left
            .img
                img(src="./img/home-bg.png", alt="")
        .wrapper-right
            .content
                h2 Bộ sưu tập sản phẩm American Door
                p American doors là thương hiệu hàng đầu trong trong việc kết hợp những vật liệu tối ưu như hóa keo, chất dẻo kết dính, cùng sự phát triển của trang thiết bị sản xuất tiên tiến, công nghệ sản xuất gỗ hiện đại và chuyên nghiệp với một số ít chủng loại gỗ để tạo ra sản phẩm gỗ chắc và bền hơn nhiều so với vật liệu gỗ truyền thống...
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .img
                            img(src="./img/home-product1.png", alt="")
                        p Cửa gỗ
                    .swiper-slide
                        .img
                            img(src="./img/home-product1.png", alt="")
                        p Cửa gỗ
                    .swiper-slide
                        .img
                            img(src="./img/home-product1.png", alt="")
                        p Cửa gỗ
                    .swiper-slide
                        .img
                            img(src="./img/home-product1.png", alt="")
                        p Cửa gỗ
            .swiper-next
                button
                    em.lnr.lnr-chevron-right
            a(href="#")
                .button
                    button xem thêm
                        em.lnr.lnr-chevron-right