secsion.project-wrapper
    .container
        .row
            .col-lg-6
                .title
                    h3 Các công trình tiêu biểu
                    p Công ty đã thực hiện hơn 1.000 công trình & dự án gỗ trên toàn quốc. Gold View, City Garden, Sunrise City, đảo Kim Cương, Nine South, Saigon South, Sarica, Lucasta, FLC Quy Nhơn, Masteri, SSG Link, Nhà Sài Gòn ... là thành quả giúp AmericanDoors đạt được danh tiếng đáng tin cậy trong ngành gỗ Việt Nam
                    a(href="#")
                        .button
                            button Tất cả công trình
                                em.lnr.lnr-menu
            .col-lg-6
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            a(href="#")
                                figure
                                    .img
                                        img(src="./img/project2.png", alt="")
                                    figcaption
                                        .content
                                            h3 nice south
                                            p hoàn thiện 218 bộ cửa    
                        .swiper-slide
                            a(href="#")
                                figure
                                    .img
                                        img(src="./img/project2.png", alt="")
                                    figcaption
                                        .content
                                            h3 nice south
                                            p hoàn thiện 218 bộ cửa    
                        .swiper-slide
                            a(href="#")
                                figure
                                    .img
                                        img(src="./img/project2.png", alt="")
                                    figcaption
                                        .content
                                            h3 nice south
                                            p hoàn thiện 218 bộ cửa
                .swiper-prev
                    .button
                        button
                            em.lnr.lnr-chevron-left
                .swiper-next
                    .button
                        button
                            em.lnr.lnr-chevron-right
            - for(i=1;i<4;i++)
                .col-lg-4.col-md-6
                    .item
                        a
                            figure
                                .img
                                    img(src="./img/project1.png", alt="")
                                figcaption
                                    .content
                                        h3 resort - khách sạn
                                        p 50+ dự án