section.home-banner
    .swiper-container
        .swiper-wrapper
            .swiper-slide.slide-1
                figure
                    .img
                        img(src="./img/home-banner1.png", alt="")
                    figcaption
                        .content
                            h2 cửa ngoài trời</br> american door
                            p Thách thức mọi giới hạn thời tiết
                        .button
                            button xem thêm
                                em.lnr.lnr-chevron-right
            .swiper-slide.slide-2
                figure
                    .img
                        img(src="./img/home-banner2.png", alt="")
                    figcaption
                        .content
                            h2 hoàn hảo cho ngôi nhà của bạn
                        .button
                            button xem thêm
                                em.lnr.lnr-chevron-right
            .swiper-slide.slide-3
                figure
                    .img
                        img(src="./img/home-banner3.png", alt="")
                    figcaption
                        .content
                                h2 gỗ sồi - lựa chọn ưu tiên </br> trong nội thất từ xưa đến nay
                        .button
                                button xem thêm
                                    em.lnr.lnr-chevron-right
        .swiper-pagination