header
    .container
        .header-wrapper
            .logo
                a(href="#")
                    img(src="./img/logo.png", alt="")
            .nav
                ul
                    li 
                        a(href="#") giới thiệu
                    li 
                        a(href="#") sản phẩm-dịch vụ
                    li 
                        a(href="#") catalogue
                    li 
                        a(href="#") công trình 
                    li 
                        a(href="#") tin tức
                    li 
                        a(href="#") tuyển dụng
                    li 
                        a(href="#") liên hệ
            .box
                .main-search
                    em.lnr.lnr-magnifier
                    .searchbox
                        input(type="text" placeholder="Tìm kiếm...") 
                        button
                            em.lnr.lnr-magnifier
                .language
                    select
                        option(value="0") VN
                    em.lnr.lnr-chevron-down
                .button-toggle
                    .button
        .nav-mobile
        .back-drop
            