section.product-hot
    .container
        .title
            h2 Sản phẩm bán chạy
        .swiper-prev
            em.lnr.lnr-chevron-left
        .swiper-container
            .swiper-wrapper
                    .swiper-slide
                        a(href="#")
                            figure
                                .img
                                    img(src="./img/home-product1.png", alt="")
                                figcaption
                                    .content
                                        p Cửa Cổ Điển - ED - 08
                                        p Kích thước quy chuẩn: 40 x 810 x 2150
                                        p Giá: Liên hệ
                                        .button
                                            button xem thêm
                                                em.lnr.lnr-chevron-right
                                        .sale
                                            p New                                   
                    .swiper-slide
                        a(href="#")
                            figure
                                .img
                                    img(src="./img/home-product1.png", alt="")
                                figcaption
                                    .content
                                        p Cửa Cổ Điển - ED - 08
                                        p Kích thước quy chuẩn: 40 x 810 x 2150
                                        p Giá: Liên hệ
                                        .button
                                            button xem thêm
                                                em.lnr.lnr-chevron-right                                      
                    .swiper-slide
                        a(href="#")
                            figure
                                .img
                                    img(src="./img/home-product1.png", alt="")
                                figcaption
                                    .content
                                        p Cửa Cổ Điển - ED - 08
                                        p Kích thước quy chuẩn: 40 x 810 x 2150
                                        p Giá: Liên hệ
                                        .button
                                            button xem thêm
                                                em.lnr.lnr-chevron-right                                       
                    .swiper-slide
                        a(href="#")
                            figure
                                .img
                                    img(src="./img/home-product1.png", alt="")
                                figcaption
                                    .content
                                        p Cửa Cổ Điển - ED - 08
                                        p Kích thước quy chuẩn: 40 x 810 x 2150
                                        p Giá: Liên hệ
                                        .button
                                            button xem thêm
                                                em.lnr.lnr-chevron-right
                                        .sale
                                            p Hot                     
        .swiper-next
                em.lnr.lnr-chevron-right  
