footer
    .footer-wrapper
        .container
            .box-top
                .showroom
                    .box
                        .title
                            p Showroom TP. HCM
                        .content
                            em.fas.fa-map-marker-alt 506/17 Ba Tháng Hai, Phường 14, Quận 10,</br> TP.HCM
                            em.fas.fa-phone ĐT: (028) 629 74 629 
                            em.fas.fa-envelope  info@americandoor.com.vn
                    .box
                        .title
                            p Showroom Cần thơ
                        .content
                            em.fas.fa-map-marker-alt 94C đường 3/2 , Phường Hưng Lợi,Quận</br> Ninh Kiều, TP.Cần Thơ
                            em.fas.fa-phone ĐT: (029) 237 32 777
                .about
                    .title
                        p Giới thiệu
                    .nav
                        ul
                            li
                                a(href="#") Tổng quan
                            li
                                a(href="#") Tầm nhìn - Sứ mệnh
                            li
                                a(href="#") Giá trị cốt lõi
                            li
                                a(href="#") Đối tác - Khách hàng
                            li
                                a(href="#") Chứng nhận - Giải thưởng
                .nav-footer
                    .title
                        p America Door
                    .nav
                        ul
                            li
                                a(href="#") Giới thiệu
                            li
                                a(href="#") Sản phẩm - Dịch vụ
                            li
                                a(href="#") Catalogue
                            li
                                a(href="#") Công trình tiêu biểu
                            li
                                a(href="#") Năng lực sản xuất
                            li
                                a(href="#") Tin tức - Sự kiện
                            li
                                a(href="#") Tuyển dụng
                            li
                                a(href="#") Liên hệ
                .news
                    .title
                        p Đăng ký nhận bản tin
                    .signup
                        p Đăng ký để nhận được những thông tin về</br> sản phẩm và khuyến mãi mới nhất
                        .button
                            input(type="text", placeholder="Đăng ký nhận bản tin...")
                            button
                                em.lnr.lnr-arrow-right
                    .icon
                        .box-icon
                            a(href="#")
                                em.fab.fa-facebook-f
                        .box-icon
                            a(href="#")
                                em.fab.fa-twitter
                        .box-icon
                            a(href="#")
                                em.fab.fa-linkedin-in
                        .box-icon
                            a(href="#")
                                em.fab.fa-instagram
                        .box-icon
                            a(href="#")
                                em.fab.fa-youtube
    .footer-bottom
        .content
            a(href="#") Điều khoản dịch vụ
            a(href="#") Chính sách bảo mật
            a(href="#") Sitemap
        p Copyright © 2020 American Doors. All rights reserved. Thiết kế website bởi Cánh Cam.