section.home-design(setBackground="./img/background.png")
    .container
        .design-wrapper(setBackground="./img/background2.png")
            .content
                h2 nếu bạn chưa tìm thấy sản phẩm ưng ý?
                p Bạn có thể tự thiết kế cửa theo cách riêng của bạn
                a(href="#")
                    .button
                        button thiết kế ngay
                            em.mdi.mdi-crop-square